.account-page__footer
  .accout-page__footer__list
    =link_to "#", class:"account-page__footer__list--text" do
      プライバシーポリシー
    =link_to "#", class:"account-page__footer__list--text" do
      FURIMA利用規約
    =link_to "#", class:"account-page__footer__list--text" do
      特定商取引に関する表記
  .account-page__footer__logo
    =link_to "/" do
      = image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
    %p
      ©️ FURIMA