
.card-main-block {
  width: 730px;
  height: 40%;
  margin-right: 85px;
  background-color: white;
  .card-main-title {
    height: 13%;
    font-size: 140%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 3px solid #f5f5f5;
  }
  &__info {
    height: 100%;
    padding: 70px;
  }
}

.credit_card-list {
  border-bottom: 3px solid #f5f5f5;
  &__title {
    font-weight: bold;
  }
}

.credit_card-list {
  padding-left: 100px;
  padding-bottom: 10px;
  width: 600px;
  position: absolute;
  display: flex;
  .destroy__function {
    height: 25px;
    width: 70px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 200px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    a {
      color: red;
    }
  }
}

.payment-details {
  text-align: right;
  position: relative;
  font-size: 15px;
  top: 160px;
  a {
    color: rgb(53, 174, 223);
  }
}
.credit_card_info {
  font-size: 15px;
}