
.my-page-main {
  height: 1000px;
  width: 100vw;
  background-color: #f5f5f5;
  position: relative;

  &__block {
    width: 90%;
    height: 95%;
    position: absolute;
    margin: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.side-bar {
  width: 280px;
  height: 100%;
  margin-left: 170px;

  &__high {
    width: 100%;
    height: 500px;

    &__blocks {
      background-color: white;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #56f8f8;
      position: relative;

      &__text {
        position: absolute;
        margin: 10px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

        a {
          color: black;
        }
      }
    }
  }

  &__low {
    width: 100%;
    height: 300px;
    margin-top: 60px;

    &__title {
      font-size: 120%;
      font-weight: bold;
    }

    &__blocks {
      background-color: white;
      width: 100%;
      height: 40px;
      border-bottom: 1px solid #56f8f8;
      position: relative;

      &__text {
        position: absolute;
        margin: 10px;
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

        a {
          color: black;
        }
      }
    }
  }
}

.main-light {
  width: 730px;
  height: 100%;
  margin-right: 85px;
  
  &__high {
    background-color: white;
    width: 100%;
    height: 500px;
  }

  &__back {
    border: 0;
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__background {
    width: 100%;
  }

  &__user-icon {
    top: 20px;
    position: absolute;
  }

  p {
    font-size: 15px;
    padding-top: 80px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    position: absolute;
  }

  .main-light-notice {
    height: 70%;

    .mypage-tab {
      display: flex;
      justify-content: space-around;
      height: 60px;
      line-height: 60px;
      text-align: center;

      .menu {
        width: 50%;
        color: black;
        font-weight: bold;
        background-color: dimgray;
        cursor:pointer
      }
      .active {
        background-color: white;
        border-top: 2px solid red;
      }

    }
    .mypage-content {
      display: none;
    }
    .show {
      color: deeppink;
      display: block;
    }
  }

  .main-light-low {
    background-color: white;
    width: 100%;
    height: 400px;
    margin-top: 30px;

    .mypage-menu {
      height: 60px;
      font-weight: bold;
      padding: 15px;
      font-size: 110%;
    }

    .main-low-tab {
      border: 0;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-around;
      list-style: none;
      line-height: 60px;
      text-align: center;

      .main-low-menu {
        width: 50%;
        color: black;
        font-weight: bold;
        background-color: dimgray;
        cursor:pointer
      }

      .active2 {
        background-color: white;
        border-top: 2px solid red;
      }
    }
    .main-low-content {
      display: none;
    }
    .show2 {
      color: fuchsia;
      display: block;
    }

  }
}


.my-page-bottom {
  width: 100vw;
  background-color: #212121;
  height: 150px;
  display: flex;
  justify-content: center;
  .bottom-icon {
    height: 100%;
  }
}