* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  background-color: white;
  height: 107.55px;
  width: 100%;
  padding: 15px 0;
  .top-items {
    width: 1040px;
    height: 50.55px;
    padding-top: 15px 0 0;
    margin-top: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .top-items__icons img{
      width: 144px;
      height: 40.55px;
    }

    .top-items__serch {
      margin-top: 5px;
      display: flex;
      justify-self: start;
      .top-items__serch--serch-box input{
        width: 830px;
        height: 36px;
        padding: 0 0 0 5px;
      }
      .top-items__serch--serch-icon {
        width: 36px;
        height: 36px;
        background-color: #3CCACE;
        img{
          width: 19.77px;
          height: 19.77px;
          margin: 8px;
        }
      }
    }
  }

  .top-navi{
    width: 1040px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    
    .top-navi__left li{
      float: left;
      line-height: 32px;
      font-size: 14px;
      margin-right: 46px;
    }
    .top-navi__left a{
      color: #000;
      text-decoration: none;
    }
    .top-navi__left a:hover {
      color: orange;
    }
    .top-navi__right li{
      float: right;
      line-height: 32px;
      font-size: 14px;
      margin-left: 16px;
    }
    .top-navi__right a{
      color: #000;
      text-decoration: none;
    }
  }
}

.main {
  background: #f8f8f8;
  .main__top {
    background: image-url("pict/bg-mainVisual-pict_pc.jpg");
    height: 560px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    .content {
      padding: 220px 60px;
      margin: 0 auto;
      .content__subtitle {
        font-size: 60px;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.2;
      }
      .content__text  {
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
        font-size: 18px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .content__btn {
        margin: 24px 0 0 0;
        .content__btn--apple img{
          margin-right: 10px;
          width: 180px;
          height: 53.33px;
          
        }
        .content__btn--apple img:hover{
          opacity: 0.5;
        }
        .content__btn--google img{
          height: 53.33px;
          width: 180px;
        }
        .content__btn--google img:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .main__reason {
    height: 658px;
    width: 100%;
    background-color: white;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    padding: 60px 20px;
    .main__reason__subtitle {
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
        
    }
    h2::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    } 
    
    .main__reason__list {
      width: 100%;
      height: 462px;
      margin: 0 auto;
      display: flex;
      justify-content: start;
      
      .main__reason__list--first{
        width: 306px;
        height: 446px;
        margin: 16px 5% 0 150px;
        position: relative;
        .number {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 30px;
          background-color: #3CCACE;
          color: #fff;
          padding: 10px 20px;

        }
        img{
          height: 306px;
          width: 306px;
        }
        h3{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 10px 0 0 50px;
          span{
            color: #3ccace;
          }
        }
        p{
          margin: 16px 0 0;
          font-size: 18px;
        }
      }
      .main__reason__list--second{
        width: 306px;
        height: 446px;
        margin: 16px 5% 0 0;
        position: relative;
        .number {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 30px;
          background-color: #3CCACE;
          color: #fff;
          padding: 10px 20px;

        }
        img{
          height: 306px;
          width: 306px;
        }
        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 10px 0 0 40px;
          span{
            color: #3ccace;
          }
        }
        p{
          margin: 16px 0 0;
          font-size: 18px;
        }
      }
      .main__reason__list--third {
        width: 306px;
        height: 446px;
        margin: 16px 0 0 0;
        position: relative;
        .number {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 30px;
          background-color: #3CCACE;
          color: #fff;
          padding: 10px 20px;

        }
        img{
          height: 306px;
          width: 306px;
        }
        h3 {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 10px 0 0 65px;
          span{
            color: #3ccace;
          }
        }
        p{
          margin: 16px 0 0 40px;
          font-size: 18px;
        }
      }
    }
    
  }
  .main__members {
    background: image-url("pict/bg-topMiddleDl-pict.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: bottom right;
    .member-content{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      padding-top: 80px;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      .member-content__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .member-content__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .member-content__btn {
        .content__btn--apple img{
          margin-right: 10px;
          width: 180px;
          height: 53.33px;
        }
        .content__btn--apple img:hover{
          opacity: 0.5;
        }
        .content__btn--google img{
          height: 53.33px;
          width: 180px;
        }
        .content__btn--google img:hover{
          opacity: 0.5;
        }
      }
    }
  }
  .main__features {
    height: 733.61px;
    width: 100%;
    background-color: white;
    padding: 60px 40px;
    .main__features__subtitle {
      text-align: center;
      font-size: 27px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    h2::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    } 
    .main__features__list {
      width: 100%;
      height: 462px;
      margin: 0 auto;
      display: flex;
      justify-content: start;
      .main__features__list--first {
        width: 306px;
        height: 446px;
        margin: 16px 5% 0 150px;
        img{
          height: 306px;
          width: 306px;
        }
        h3{
          font-weight: bold;
          font-size: 19px;
          line-height: 50px;
          margin: 10px 0 0 50px;
        }
        p{
          margin: 16px 0 0;
          font-size: 17px;
        }
      }
      .main__features__list--second {
        width: 306px;
        height: 446px;
        margin: 16px 5% 0 0;
        img{
          height: 306px;
          width: 306px;
        }
        h3 {
          font-weight: bold;
          font-size: 19px;
          line-height: 50px;
          margin: 10px 0 0 40px;
        }
        p{
          margin: 16px 0 0;
          font-size: 17px;
        }
      }
      .main__features__list--third {
        width: 306px;
        height: 446px;
        margin: 16px 0 0 0;
        img{
          height: 306px;
          width: 306px;
        }
        h3 {
          font-weight: bold;
          font-size: 19px;
          line-height: 50px;
          margin: 10px 0 0 65px;
        }
        p{
          margin: 16px 0 0 40px;
          font-size: 17px;
        }
      }
    }
  }
  .main__pickup {
    height: 958px;
    width: 100%;
    background-color: #f8f8f8;
    padding: 80px 0 0;
    .main__pickup--head {
      font-size: 28px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    .main__pickup--subhead {
      color: #3ccace;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    .main__pickup--product-lists {
      width: 780px;
      height: 245px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .main__pickup--product-lists--first {
        width: 220px;
        background-color: #fff;
        a {
          width: 220px;
          height: 245px;
          text-decoration: none;
          img {
            width: 220px;
            height: 150px;
          }
          .main__pickup--product-lists--first--body {
            width: 220px;
            height: 95px;
            padding: 16px;
            color: #333;
            h3 {
              font-size: 16px;
              text-align: left;
              line-height: 1.5;
              overflow: hidden;
            }
            .details-first {

              ul{
                li{
                  float: left;
                }
                .star-first {
                  float: right;
                }
              }
            }
            .tax p {
              font-size: 10px;
            }
          }
        }
      }
      .main__pickup--product-lists--first:hover{
        opacity: 0.5;
      }
      .main__pickup--product-lists--second {
        width: 220px;
        background-color: #fff;
        a {
          width: 220px;
          height: 245px;
          text-decoration: none;
          img {
            width: 220px;
            height: 150px;
          }
          .main__pickup--product-lists--first--body {
            width: 220px;
            height: 95px;
            padding: 16px;
            color: #333;
            h3 {
              font-size: 16px;
              text-align: left;
              line-height: 1.5;
              overflow: hidden;
            }
            .details-first {

              ul{
                li{
                  float: left;
                }
                .star-first {
                  float: right;
                }
              }
            }
            .tax p {
              font-size: 10px;
            }
          }
        }
      }
      .main__pickup--product-lists--second:hover {
        opacity: 0.5;
      }
      .main__pickup--product-lists--third {
        width: 220px;
        background-color: #fff;
        a {
          width: 220px;
          height: 245px;
          text-decoration: none;
          img {
            width: 220px;
            height: 150px;
          }
          .main__pickup--product-lists--first--body {
            width: 220px;
            height: 95px;
            padding: 16px;
            color: #333;
            h3 {
              font-size: 16px;
              text-align: left;
              line-height: 1.5;
              overflow: hidden;
            }
            .details-first {

              ul{
                li{
                  float: left;
                }
                .star-first {
                  float: right;
                }
              }
            }
            .tax p {
              font-size: 10px;
            }
          }
        }
      }
      .main__pickup--product-lists--third:hover{
        opacity: 0.5;
      }
    }
    .main__pickup--brand {
      padding: 80px 0 0;
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .main__pickup--brandsub {
      font-weight: bold;
      font-size: 24px;
      color: #3ccace;
      text-align: center;
    }
    .main__pickup--brand-lists {
      width: 780px;
      height: 245px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .main__pickup--brand-lists--first {
        width: 220px;
        background-color: #fff;
        a {
          width: 220px;
          height: 245px;
          text-decoration: none;
          img {
            width: 220px;
            height: 150px;
          }
          .main__pickup--product-lists--first--body {
            width: 220px;
            height: 95px;
            padding: 16px;
            color: #333;
            h3 {
              font-size: 16px;
              text-align: left;
              line-height: 1.5;
              overflow: hidden;
            }
            .details-first {

              ul{
                li{
                  float: left;
                }
                .star-first {
                  float: right;
                }
              }
            }
            .tax p {
              font-size: 10px;
            }
          }
        }
      }
      .main__pickup--brand-lists--first:hover{
        opacity: 0.5;
      }
      .main__pickup--brand-lists--second {
        width: 220px;
        background-color: #fff;
        a {
          width: 220px;
          height: 245px;
          text-decoration: none;
          img {
            width: 220px;
            height: 150px;
          }
          .main__pickup--product-lists--first--body {
            width: 220px;
            height: 95px;
            padding: 16px;
            color: #333;
            h3 {
              font-size: 16px;
              text-align: left;
              line-height: 1.5;
              overflow: hidden;
            }
            .details-first {

              ul{
                li{
                  float: left;
                }
                .star-first {
                  float: right;
                }
              }
            }
            .tax p {
              font-size: 10px;
            }
          }
        }
      }
      .main__pickup--brand-lists--second:hover{
        opacity: 0.5;
      }
      .main__pickup--brand-lists--third {
        width: 220px;
        background-color: #fff;
        a {
          width: 220px;
          height: 245px;
          text-decoration: none;
          img {
            width: 220px;
            height: 150px;
          }
          .main__pickup--product-lists--first--body {
            width: 220px;
            height: 95px;
            padding: 16px;
            color: #333;
            h3 {
              font-size: 16px;
              text-align: left;
              line-height: 1.5;
              overflow: hidden;
            }
            .details-first {

              ul{
                li{
                  float: left;
                }
                .star-first {
                  float: right;
                }
              }
            }
            .tax p {
              font-size: 10px;
            }
          }
        }
      }
      .main__pickup--brand-lists--third:hover{
        opacity: 0.5;
      }
    }
  }
  .main__download {
    background: image-url("pict/bg-appBanner-pict.jpg");
    height: 359.33px;
    width: 100%;
    padding: 100px 40px;
    background-size: cover;
    background-position: center;
    .inner {
      color: #fff;
      text-align: center;
      .inner__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      .inner__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .inner__btn {
        margin-top: 24px;
        .content__btn--apple img{
          margin-right: 10px;
          width: 180px;
          height: 53.33px;
        }
        .content__btn--apple img:hover{
          opacity: 0.5;
        }
        .content__btn--google img{
          height: 53.33px;
          width: 180px;
        }
        .content__btn--google img:hover{
          opacity: 0.5;
        }
      }
    }
  }
}

.footer {
  background-color: #272727;
  height: 354.34px;
  width: 100%;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  .footer__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    .footer__content {
      list-style: none;
      text-decoration: none;
      width: calc(1 / 3 * 100%);
      h2 {
        font-size: 16px;
        margin: 0 0 20px;
        font-weight: bold;
      }
      li{
        
        a {
          color: #fff;
          font-size: 12px;
          line-height: 32px;
        }
        a:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
    
  }
  .footer__logo {
    img {
      width: 160px;
      height: 46.34px;
    }
    p{
      font-size: 14px;
    }
  }
  .footer__exhibition {
    width: 120px;
    background-color: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .footer__exhibition__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    img {
      width: 60%;
      vertical-align: bottom;
    }
  }
  .footer__exhibition:hover {
    opacity: 0.75;
  }
}
