.product-create {
  background-color: #f8f8f8;
  height: auto;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.headline {
  font-size: 15px;
  font-weight: bold;
}

.required {
  background-color: red;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 10px;
}

.any {
  background-color: #bfbfbf;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 10px; 
}

.input {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 16px;
}

select {
  height: 48px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 16px;
}

hr {
  height: 2px;
  background-color: #f8f8f8;
  width: 100%;
  border: none;
  margin: 0;
}

@media screen and (min-width:720px) {
  //エラー文に対してのcss
  .errors {
    padding: 40px;
  }

  .field_with_errors {
    height: 100%;
  }

  //ヘッダー
  .product-header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
      &--img {
        height: 60px;
        width: auto;
        vertical-align: middle;
      }
    }
  }

  //フォーム
  .product-form {
    background-color: #ffffff;
    width: 700px;
    margin: 0 auto;
    .product-form-images {
      padding: 40px;
      .images-box {
        &__name {
          display: flex;
          height: 19px;
          line-height: 19px;
        }
        &__remarks {
          height: 19px;
          font-size: 14px;
          font-weight: lighter;
          margin-top: 16px;
          line-height: 19px;
        }
      }
    }
    .product-form-about {
      padding: 40px;
      .about-name {
        &__box {
          display: flex;
          height: 19px;
          line-height: 19px;
        }
        &__input {
          margin-top: 16px;
          height: 48px;
          &__product-name{
            width: 100%;
            height: 100%;
          }
        }
      }
      .about-description {
        margin-top: 32px;
        &__box {
          display: flex;
          height: 19px;
          line-height: 19px;
        }
        &__input {
          margin-top: 16px;
          height: 156px;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
    .product-form-details {
      padding: 40px;
      .details-name {
        color: rgb(136, 136, 136);
        font-weight: bold;
        font-size: 14px;
      }
      .details-category {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
          }
        }
      }
      .details-size {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
      .details-brand {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
      .details-status {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
    }
    .product-form-delivery {
      padding: 40px;
      .delivery-name {
        color: rgb(136, 136, 136);
        font-weight: bold;
        font-size: 14px;
      }
      .delivery-fee {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
      .delivery-method {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
      .delivery-prefecture {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
      .delivery-date {
        margin-top: 32px;
        &__boxes {
          &__box {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__select {
            margin-top: 16px;
            &__box {
              height: 48px;
            }
          }
        }
      }
    }
    .product-form-price {
      padding: 40px 40px 0;
      .price-name {
        color: rgb(136, 136, 136);
        font-weight: bold;
        font-size: 14px;
      }
      .price-boxes {
        margin: 32px 0;
        &__sell {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 58px;
          padding-bottom: 10px;
          &__name {
            display: flex;
            height: 19px;
            line-height: 19px;
          }
          &__input {
            height: 48px;
          }
        }
        &__fee {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 68px;
          padding: 10px 0;
          font-size: 14px;
        }
        &__profit {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 68px;
          padding: 10px 0;
          font-size: 14px;
        }
      }
    }
    .product-form-button {
      width: 360px;
      margin: 0px auto;
      .send{
        height: 48px;
        width: 100%;
        background-color: rgb(122, 228, 232);
        border: 1px solid rgb(122, 228, 232);
        border-radius: 8px;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
      .button-back {
        margin-top: 20px;
        display: flex;
        justify-content: center;
      }
    }
    .product-form-note {
      padding: 40px;
      font-size: 12px;
    }
  }

  //フッター
  .product-footer {
    height: 220px;
    padding: 40px 0;
    text-align: center;
    &__box {
      margin-bottom: 20px;
      &__ul {
        display: inline-block;
        &__list {
          display: inline-block;
          margin: 16px 0px 0px 16px;
          &--style {
            font-size: 12px;
            color: black
          }
        }
      }
    }
    &__logo {
      &__link {
        &--img {
          height: 60px;
          filter: brightness(90%);
        }
      }
    }
    &__copyright {
      font-size: 12px;
    }
  }
}

//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

}

.hidden-content {
  display: none;
}

.category {
  height: 54px;
  padding: 0 60px;
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  &--routine {
    padding: 17px 0 16px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    li {
      a {
        font-size: 14px;
        color: #333;
      }
      margin-right: 10px;
      font-size: 14px;
    }
  }
}

.showProduct {
  padding: 40px;
  width: 700px;
  margin: 0 auto;
  &--info {
    background-color: #fff;
    padding: 24px 40px 40px;
    width: 700px;
    margin: 0 auto;
    &__seller {
      display: flex;
      justify-content: space-between;
      &__edit {
        text-align: center;
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        width: 100px;
        font-size: 18px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
        color: white;
        margin-right: 20px;
      }
      &__delete {
        text-align: center;
        line-height: 48px;
        background: red;
        border: 1px solid red;
        width: 100px;
        font-size: 18px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
        color: white;
      }
    }
    &__name {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    &__photo {
      margin: 16px 0 0;
      ul {
        display: flex;
        flex-direction: column;
        width: 560px;
        align-items: center;
        margin: 0 auto;
        .photoLarge {
          object-fit: cover;
          height: 346px;
        }
        .photoSmall {
          object-fit: cover;
          height: 87px;
          margin: 0 10px 0 0;
        }
      }
      &__smallPhotos {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }
    }
    &__price {
      margin: 24px 0 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      &__number {
        font-size: 46px;
        font-weight: bold;
        margin: 0 10px 0 0;
      }
      &__tax {
        font-size: 16px;
        text-align: center;
      }
    }
    &__description {
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__table {
      margin-bottom: 20px;
      table {
        width: 100%;
        height: 375px;
        border-collapse: collapse;
        border: 1px solid #f8f8f8;
        th {
          width: 20%;
          background-color: #eee;
          font-weight: 400;
          padding: 8px;
          border: 1px solid #dedede;
          font-size: 14px;
          text-align: center;
        }
        td {
          width: 61%;
          padding: 15px 15px;
          border: 1px solid #dedede;
          font-size: 14px;
          a {
            text-decoration: none;
            color: #3CCACE;
          }
        }
      }
    }
    &__optional {
      display: flex;
      justify-content: space-between;
      &__like {
        margin: 10px 0 0;
        margin-right: auto;
        padding: 6px 10px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;
        display: flex;
        align-items: center;
        cursor: pointer;
        .fa-star {
          font-size: 14px;
        }
      }
      &__like:hover {
        opacity: 0.5;
      }
      &__report {
        font-size: 14px;
        margin: 10px 0 0;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
        cursor: pointer;
        .fa-pointer {
          font-size: 14px;
        }
      }
      &__report:hover {
        opacity: 0.5;
      }
    }
    &__buy {
      text-align: center;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      width: 33%;
      font-size: 18px;
      border-radius: 100px;
      margin: 0 auto;
      margin-top: 20px;
      color: white;
    }
  }
  &--comment {
    background-color: #fff;
    padding: 24px 40px 40px;
    padding-bottom: 20px;
    width: 700px;
    margin: 10px auto;
    text-align: center;
    textarea {
      width: 100%;
      min-height: 104px;
      padding: 10px;
    }
    &__notice {
      padding: 8px;
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 10px 0;
      text-align: left;
    }
    button {
      font-size: 18px;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin-top: 10px;
      .hidden {
        display: none;
      }
    }
    &__comments {
      margin-top: 20px;
      &__box {
        margin-top: 5px;
        display: flex;
        align-items: center;
        font-size: 22px;
        &__userName {
          color: #3CCACE;
          font-weight: bold;
        }
        &__content {
          margin-left: 10px;
        }
        &__date {
          margin-left: auto;
          color: #3CCACE;
          font-size: 15px;
        }
      }
    }
  }
  &--links {
    width: 700px;
    a {
      text-decoration: none;
      color: #3CCACE;
    }
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
  &--related {
    clear: left;
    display: block;
    margin-top: 48px;
    margin-bottom: 8px;
    .moreRelate {
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
    }
  }
  &--relateProducts {
    width: 233px;
  }
}

.productBox:hover {
  opacity: 0.5;
}

.productBox {
  width: 233px;
  height: 277px;
  margin-bottom: 10px;
  &--img {
    width: 233px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0;
    z-index: auto;
    img {
      object-fit: cover;
      width: 233px;
    }
  }
  &--body {
    background-color: white;
    color: #333;
    padding: 16px;
    .name {
      overflow: hidden;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
    }
    &__details {
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
      }
      p {
        font-size: 10px;
      }
    }
  }
}