// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search-index {
  .main {
    padding-top: 20px; 
    padding-left: calc(50% - 520px);
    padding-right: calc(50% - 520px);
    display: flex;
    .searchResults {
      &--title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 20px;
        &--keyword {
          font-size: 18px;
          font-weight: 600;
          margin-right: 5px;
        }
        &--text {
          font-size: 16px;
          font-weight: 400;
        }
      }
      &--products {
        display: flex;
        flex-wrap: wrap;
        &--productBox {
          width: 233px;
          margin-left: 20px;
        }
      }
    }

    .search-extend {
      width: 250px;
      background-color: white;
      padding: 20px 20px;
      margin-bottom: 20px;
      &--content {
        margin-bottom: 20px;
        &__label {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 8px;
        }
        input {
          width: 100%;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        #q_price_gteq {
          width: 90px;
          margin-right: 5px;
        }
        #q_price_lteq {
          width: 90px;
          margin-left: 5px;
        }
      }

      &--buttons {
        display: flex;
        justify-content: space-between;
        &__clear {
          width: 90px;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          line-height: 48px;
          font-size: 14px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        #submit {
          width: 90px;
          background: red;
          border: 1px solid red;
          color: #fff;
          line-height: 48px;
          font-size: 14px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }

      #category {
        #category_child_search {
          margin-top: 10px;
        }
        #category_grandchild_search {
          margin-top: 10px;
        }
      }
    }
  }
}

nput[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

input[type="number"] { 
  -moz-appearance:textfield; 
} 