.shipment-page{
  &__main{
    background-color: #f8f8f8;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    .container{
      padding-bottom: 40px;
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      .header{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        line-height: 1.5;
        border-bottom: 1px solid #f8f8f8;
        h2{
        font-weight: 600;
        color: #333;
        }
      }
      .form{
        max-width: 343px;
       margin: 0 auto;
       font-size: 14px;
        .field{
          margin: 24px 0 0;
          &__label{
            font-weight: 600;
          }
          &__require{
            background-color: #ea352d;
            margin-left: 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          .input-box{
            height: 48px;
            width: 100%;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
          }
          .input-box-half{
            display: flex;
            max-width: 343px;
            &--left{
              width: 165px;
              margin: 8px 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              line-height: 1.5;
              font-size: 16px;
              height: 48px;
            }
            &--right{
                width: 165px;
                margin: 8px 0 0;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                line-height: 1.5;
                font-size: 16px;
              height: 48px;
            }
          }
          select{
            height: 48px;
            padding: 0 10px;
            width: 150px;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
          }
        }
        .actions{
          .complete-btn{
            display: block;
            margin-top: 24px;
            background-color: #ea352d;
            border: 1px solid #ea352d;
            border-radius: 4px;
            color: #fff;
            line-height: 48px;
             width: 100%;
             cursor: pointer;
          }
        }
      }
    }
  }
}