.my-page-header {
  height: 150px;
  width: 100vw;
  background-color: skyblue;
}


.my-page-main-info {
  height: 1500px;
  width: 100vw;
  background-color: slategray;
  
}


.my-page-bottom {
  width: 100vw;
  background-color: sandybrown;
  height: 200px;
}